<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!-- The html based on https://github.com/line/line-liff-starter/blob/master/index.html -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>会員証</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="liffAppContent">
      <div id="statusMessage">
        <div id="isInClientMessage"></div>
      </div>
    </div>

    <!-- LIFF INIT ERROR -->
    <div id="liffInitErrorMessage" class="hidden">
      <p>Something went wrong with LIFF initialization.</p>
      <p>
        LIFF initialization can fail if a user clicks "Cancel" on the "Grant permission" screen, or if an error occurs in the process of
        <code>liff.init()</code>.
      </p>
    </div>

    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="liff-starter.js"></script>
  </body>
</html>
